<div class="container my-3">
  <h3>Add a new Task</h3>
  <div class="mb-5">
    <input type="text" [(ngModel)]="newTask.title" placeholder="Task Title" class="form-control mb-2" />
    <input type="text" [(ngModel)]="newTask.description" placeholder="Task Description" class="form-control mb-2" />
    <button (click)="addTask()" class="btn btn-primary my-2 mx-3">Add Task</button>
  </div>
  <h3>My tasks</h3>
  <table class="w-100 table table-hover">
    <thead *ngIf="tasks.length!==0;else emptyTemplate">
    <tr>
      <th class="w-25" colspan="1">Title</th>
      <th colspan="4">Description</th>
      <th colspan="1" class="text-center">Update</th>
      <th colspan="1" class="text-center">Delete</th>
    </tr>
    </thead>
    <ng-template #emptyTemplate><p class="mx-3 text-muted">your tasks list is empty !</p></ng-template>
    <tbody>
    <tr *ngFor="let task of tasks; let i = index">
      <td colspan="1" style="width: fit-content">
        <input type="text"
               [value]="task.title"
               [disabled]="(i !== updateIndex) || (!isUpdate)"
               [class.enabledInput]="(i !== updateIndex) || (!isUpdate)"
               (input)="onTaskTitleChange($event, task)">
      </td>
      <td colspan="4">
   <textarea
     type="text"
     rows="2"
     minlength="5"
     maxlength="200"
     class="w-100"
     [value]="task.description"
     [disabled]="(i !== updateIndex) || (!isUpdate)"
     [class.enabledInput]="(i !== updateIndex) || (!isUpdate)"
     style="overflow: auto; resize: none; max-height: 150px;"
     (input)="onTaskDescriptionChange($event, task)">
  </textarea>
      </td>
      <td colspan="1" class="text-primary text-center" [class.d-none]="(i === updateIndex) && (isUpdate)">
        <i (click)="toggle(i)" class="fa-solid fa-pencil cursor-pointer"></i>
      </td>
      <td colspan="1" class="text-primary text-center" [class.d-none]="(i !== updateIndex) || (!isUpdate)">
        <span (click)="update()" class="cursor-pointer">Save</span>
      </td>
      <td colspan="1" class="text-danger text-center"><i (click)="delete(task.id)" class="fa-regular fa-trash-can cursor-pointer"></i></td>
    </tr>
    </tbody>
  </table>
</div>
